* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.background {
    position: relative;
    /* padding: 20px 0; */
    z-index: 0;
    text-align: center;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 625px;
    height: auto !important;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    z-index: -1;
    background: rgba(155, 111, 90, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.myText {
    padding: 20px 0;
}

.myText h1 {
    margin-bottom: 25px;
    font-family: 'PT Serif', serif; /* 'PT Serif', serif */
    color: #e0d3c6; 
    font-size: 40px;
    line-height: 1.3;
}

.myText h2 {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif; /* 'Kanit', sans-serif */
    font-size: 33px;
    font-weight: 400;
    line-height: 1.3;
    color: #e0d3c6;
}

.myText p {
    font-size: 33px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.3;
    color: #e0d3c6
}

.myText .offer {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: black;
}

.myText .offer s {
    font-size: 20px;
}

.myFormContainer {
    /* position: relative; This one was the problem */
    z-index: 1;
    margin: 0 auto;
    width: 40%; 
}

input[type=text] {
    width: 100%;
    margin-bottom: 3px;
    border: 0;
    border-radius: 3px;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    background-color: white;
}

input[type=submit] {
    width: 100%; 
    padding: 15px;
    border: 1px solid white;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    color: #1c1106; 
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    background-color: #d58942; 
}

input[type=submit]:hover {
    background-color: #d57d2b;
}

input[type=submit]:active {
    transform: scale(0.99);
}

.myFormContainer input:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    .myFormContainer {
        width: 90%;
    }
}