* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.background {
    position: relative;
    z-index: 0;
    text-align: center;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 625px;
    height: auto !important;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    z-index: -1;
    background: rgba(155, 111, 90, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.myText {
    position: absolute;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    /* text-align: center; */

}

.myText h1 {
    margin-bottom: 20px;
    font-family: 'PT Serif', serif;
    color: #d4c8bc;
    font-size: 40px;
    line-height: 1.3;
}

.myText h2 {
    margin-bottom: 20px;
    font-family: 'Kanit', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #d4c8bc
}

.myText p {
    font-size: 28px;
    font-family: 'Kanit', sans-serif;
    color: #d4c8bc
}

.myText .offer {
    font-size: 30px;
    color: black;
}

.myText .offer s {
    font-size: 20px;
}

.myFormContainer {
    position: relative;
    display: block;
    z-index: 1;
    margin: 0 auto;
    width: 40%; 
    top: 430px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    border-radius: 3px;
    padding: 15px;
    font-size: 15px;
    background-color: white;
}

input[type=submit] {
    width: 100%; 
    padding: 15px;
    border: 1px solid white;
    border-radius: 3px;
    /* font-family: 'Kanit', sans-serif; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #d58942; 
}

input[type=submit]:hover {
    background-color: #d68234;
}

input[type=submit]:active {
    transform: scale(0.99);
}

.myFormContainer input:focus {
    outline: none;
}

@media screen and (max-width: 700px) {
    myFormContainer {
        width: 300px;
    }
    /* input[type=text] {
        width: 100%;
    }
    input[type=submit] {
        width: 100%;
    } */
}