* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.background {
    position: relative;
    z-index: 0;
    background-image: url(../images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 625px;
    height: auto !important;
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.myText {
    position: absolute;
    display: block;
    float: left;
    margin: 0 auto;
    margin-top: 50px;
}

.myText h1, h2, p {
    color: white;
    text-align: center;
}

.myText h1 {
    margin-bottom: 30px;
}

.myText h2 {
    margin-bottom: 30px;
}

.myText p {
    font-size: 20px;
}

.myFormContainer {
    position: absolute;
    display: block;
    float: left;
    margin: 350px auto;
    width: 400px; 
}

input[type=text] {
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    border-radius: 3px;
    padding: 15px;
    font-size: 15px;
}

input[type=submit] {
    width: 100%; 
    padding: 10px;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.myFormContainer input:focus {
    outline: none;
}
